<h6>Your Recommendations</h6>
    <div *ngFor = "let video of recommendedVideos;let i = index">
        <a class="item-content" [routerLink]="['/video',video.id]">
            <mat-card class="card-container">
                <img mat-card-image [src]="getUrl(video.name_in_folder)" [alt]="video.name_in_folder" class="card-image-container card-image-container-edge">
                <mat-card-content class="content-container">
                    <p class="break-word">{{video.name_in_folder}}</p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
    

