<h6>Your Recommendations</h6>
    <div *ngFor = "let video of recommendedVideos;let i = index">
        <a class="item-content" [routerLink]="['/video',video.id]">
            <div style="display: flex; margin-top: 2px;">
                <div>
                    <img [src]="getUrl(video.name_in_folder)" [alt]="video.name_in_folder" style="height: 100%;
                        width: 150px;">
                </div>
                <div style="padding-left: 3%; width: 100%; color: black; font-size: 14px;">
                     <p class="break-word"><b>{{video.name_in_folder}}</b></p>
                </div>
            </div>
         </a>
    </div>
    
    

