:root {
    --top-y: 22;
    --top-y-mobile:15;
    --top-x:47;
    --top-x-mobile:42;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: #efefef;
    border: none;
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
    font-size: 1em;
}
.select-container {position:relative; display: inline;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: .3em;
    right: .75em;
    border-top: 8px solid black;
    opacity: 0.5;
}
select::-ms-expand {
    display: none;
}

.video-container{
    height: 70%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.video-container-1{
    height: 70%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
video {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
.margin-left-10{
    margin-left: 10px;
}
.fixed-bar{
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 4;
    background-color: #C0C0C0;
}
.video-playing-container{
    display: flex;
    padding-top: 80px;
    margin-right: 5%;
    margin-left: 0%;
}
.video-name-container{
    background-color: #C0C0C0;
    height: 50px;
    margin-top: -5%;
}
.star-container{
    height: 40px;
}
.listing-style{
    z-index: 1;
}
.button-color{
    background-color: black;
}
.text-color{
    color: white
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.button-style{
    width: 8%;
    margin-right: 2%;
    margin-top: 0.25%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    margin-right: 5px;
    margin-left: 1.5%;
  }

.btn {
    padding: 5px 0;
    width: 31px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    transition: opacity .175s ease-in;
}
.video-controls{
    padding-top: 5px;
    background: transparent;
    z-index: 2147483647;
    bottom:-50px;
    transform: translateY(-100%);
    transition: bottom .25s ease-in;
}

#progress-bar-fill {
    width: 0;
    height: 4px;
    background-color:#f00;
    transition: width .35s linear;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
  
#buffered-amount {
    display: block;
    height: 4px;
    background-color: #8C8D88;
    width: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
 }

 #default-bar{
     width: 97%;
     background-color: rgba(255,255,255,.2);
     position: absolute;
     height: 4px;
     z-index: 1;
     transition: width .35s linear;
     cursor: pointer;
 }

video {
    pointer-events: none;
}

::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}

hr.seperator {
    border-color: black;
}

.background-black{
    background-color: black;
}

.select-style{
    margin-top: 0px;
    height: 53px;
    background:transparent;
    color: white;
    border: none;
    cursor: pointer;
}

video.loading {
    background:black;
}

.image-style{
    height:50px;
    width:50px;
    z-index: 2;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cover-spin {
    position: absolute;
    height: 70%;
    width: 100%;
    left:0;right:0;top:0;bottom:0;
    z-index:9999;
    display: block;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    width:40px;
    height:40px;
    border-style:solid;
    border-color:white;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    -o-animation:spin .8s linear infinite;
    animation: spin .8s linear infinite;
    margin-top: var(--top-y);
    margin-left: var(--top-x);
}

.cog-style{
    display: none;
}

@media only screen and (max-width: 600px){
    #cover-spin::after {
        content:'';
        display:block;
        position:absolute;
        width:50px;
        height:50px;
        border-style:solid;
        border-color:white;
        border-top-color:transparent;
        border-width: 4px;
        border-radius:50%;
        -webkit-animation: spin .8s linear infinite;
        -o-animation:spin .8s linear infinite;
        animation: spin .8s linear infinite;
        margin-top: var(--top-y-mobile);
        margin-left: var(--top-x-mobile);
    }
}

@media only screen and (max-width: 1024px){
    .cog-style{
        display: inline-flex;
        padding-left: 5px;
    }
}