<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <app-header (uploadButtonClicked)="stop()" (dialogClosed)="play()"></app-header>
    <div class="video-playing-container margin-left-10" id="container-display">
      <div id="videoWidth" class="video-container-1">
          <video class="video-container" controlsList="nodownload">
          </video>
          <div class="video-controls">
              <div style="background-color: black;">
                  <span id="buffered-amount"></span>
                  <span id="progress-bar-fill"></span>
                  <span id="default-bar"></span>
              </div>
              <p style="float:left;color: white;padding-top: 1.25%;padding-left: 1%;" id="time-bar"></p>
              <div style="float:right;display: flex">
                <select class="form-control select-style" (change)=changePlayBackSpeed($event)>
                  <option>1.0</option>
                  <option>1.2</option>
                  <option>1.5</option>
                  <option>2.0</option>
                </select>
              </div>
              <div style="float:right;display: flex">
                <select class="form-control select-style" (change)=changeQuality($event)>
                  <option value="full">Auto</option>
                  <option value="720">720p</option>
                  <option value="540">540p</option>
                  <option value="360">360p</option>
                </select>
              </div>
              <div style="text-align: center;padding-top: 1%;padding-bottom: 0.8%;">
                <button class="btn btn-backward"><span class="fa fa-backward"></span></button>
                <button class="btn btn-pause"><span class="fa fa-pause"></span></button>
                <button class="btn btn-forward"><span class="fa fa-forward"></span></button>
                <button class="btn btn-stop"><span class="fa fa-stop"></span></button>
                <button class="btn btn-reset" hidden><span class="fa fa-undo"></span></button>
                <button class="btn btn-mute"><span class="fa fa-volume-off"></span></button>
                <button class="btn btn-expand"><span class="fa fa-expand"></span></button>
              </div>
          </div>

          <div class="video-name-container">
            <div style="float: left">
              <h6>Now Playing&nbsp;&nbsp;{{videoName}}</h6>
            </div>  
            <div style="float: right">
              <h6>Uploaded By&nbsp;&nbsp;{{uploader}}</h6>
            </div>
          </div>
          <span *ngIf="showRatingsDiv">
            <div class="star-container">
                  <app-rating [rating]="ratingValue" (ratingClick)="rating($event)"></app-rating>
            </div> 
          </span>
        </div>
      <div id="listing" class="listing-style">
          <app-recommendation></app-recommendation><hr class="seperator">
          <div *ngIf="videoName">
            <app-video-listing [filteredVideo]="videoName"></app-video-listing>
          </div>
      </div>
    </div>
  </body>
</html>