.video-container{
    height: 70%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.video-container-1{
    height: 70%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
video {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
.margin-left-10{
    margin-left: 10px;
}
.fixed-bar{
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 4;
    background-color: #C0C0C0;
}
.video-playing-container{
    display: flex;
    padding-top: 80px;
    margin-right: 5%;
    margin-left: 0%;
}
.video-name-container{
    background-color: #C0C0C0;
    height: 50px;
    margin-top: -5%;
}
.star-container{
    height: 40px;
}
.listing-style{
    z-index: 1;
}
.button-color{
    background-color: black;
}
.text-color{
    color: white
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.button-style{
    width: 8%;
    margin-right: 2%;
    margin-top: 0.25%;
}

.btn {
    padding: 5px 0;
    width: 31px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    transition: opacity .175s ease-in;
}
.video-controls{
    padding-top: 5px;
    background: black;
    z-index: 2147483647;
    bottom:-50px;
    transform: translateY(-90%);
    transition: bottom .25s ease-in;
}

#progress-bar-fill {
    width: 0;
    height: 4px;
    background-color:#f00;
    transition: width .35s linear;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
  
#buffered-amount {
    display: block;
    height: 4px;
    background-color: #8C8D88;
    width: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
 }

 #default-bar{
     width: 100%;
     background-color: rgba(255,255,255,.2);
     position: absolute;
     height: 4px;
     z-index: 1;
     transition: width .35s linear;
     cursor: pointer;
 }

video {
    pointer-events: none;
}

::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls {
    display:none !important;
}

video::-webkit-media-controls-enclosure {
    display:none !important;
}

hr.seperator {
    border-color: black;
}

.select-style{
    margin-top: 5px;
    height: 40px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

video.loading {
    background:black url(https://media.giphy.com/media/3o7bu3XilJ5BOiSGic/source.gif) center center no-repeat;
    background-size: 50px 50px;
  }